<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tunnel Healthcheck</title>
  <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous">
  </script>
  <style>
    body {
      padding: 10px;
      font-family: sans-serif;
    }
    td {
      padding: 5px
    }
    .server {
      font-size: 140%;
      margin-bottom: 20px;
    }
    .conn td {
      background-color: #eee;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    table {
      border-bottom: 1px solid black;
      border-collapse: collapse;
    }
  </style>
</head>
<body>

  <div class="server">tunnel server listening on {{ server.host }}: {{ server.port }}</div>

  <table cellspacing="0">
    {% for connid, conn in server.connections.items() %}
      <tr class="conn">
        <td align="right">{{ conn.mode|upper }}</td>
        <td>{{ conn.host }}</td>
        <td>{{ conn.port }}</td>
        <td>{{ conn.create_time }}</td>
        <td colspan="5" align="right"><button data-url="/close/{{ conn.id }}">close</button></td>
      </tr>
      {% for id, fwdconn in conn.connections.items() %}
      <tr>
        <td align="right">{{ id }}</td>
        <td>{{ fwdconn.peername.0 }}</td>
        <td>{{ fwdconn.peername.1 }}</td>
        <td>{{ fwdconn.create_time }}</td>
        <td align="right">{{ fwdconn.to_socket }}</td>
        <td align="center">➼</td>
        <td>socket</td>
        <td align="center">➼</td>
        <td>{{ fwdconn.from_socket }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </table>

  <script>
    $(document).ready(function(){
      $('button').on('click', function() {
        $.get($(this).attr('data-url'))
          .done(function() {location.reload()})
      });
      setTimeout(function(){location.reload()}, 5000);
    });
  </script>

</body>
</html>
